@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Fascinate&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Electrolize", serif;
}

body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    padding:10px 70px;
    
}

.heading{
    cursor: default;
    padding: 20px;
    font-size: 60px;
}

.new-book-btn{
    border: 2px solid rgb(219, 145, 145);
    height: 5vh;
    width: 10vw;
    border-radius: 4px;
    background-color: rgb(238, 94, 94);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 100px;   
}

.new-book-btn:hover{
    background-color: red;
}

.main-cards{
    display: flex;
    justify-content: center;
}

.cards{
    /* display: none; */
    /* text-align: left; */
}