@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: aliceblue;
    font-family: "Roboto" , sans-serif;
}

#sketchArea{
    display: flex;
    margin: 30px auto;
    margin-bottom: 30px;
    justify-content: space-evenly;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 10px 10px rgba(0, 170, 255, 0.035);
}

.cell{
    border: 1px solid whitesmoke;
}

#slider-container{
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
}

#slider-value{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.btns{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.resetBg{
    background-color: white;
}

.btn{
    margin: 0px 10px;
    border: none;
    position: relative;
    top: 15px;
    font-family: "Roboto" , sans-serif;
    background-color: transparent;
}
